<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

<title>DASHGUM - Bootstrap Admin Template</title>

<!-- Bootstrap core CSS -->
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<!--external css-->
<link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="../assets/css/style.css" rel="stylesheet">
<link href="../assets/css/style-responsive.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a  class="logo"><b>Administración empleados </b></a>
        <!--logo end-->

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">Cerrar sesion</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">



                <li class="mt">
                    <a href="personalInformation.html">
                        <i class="fa fa-user"></i>
                        <span>Informacion personal</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="payroll.html" >
                        <i class="fa fa-users"></i>
                        <span>Planilla</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="" >
                        <i class="fa fa-stack-exchange  "></i>
                        <span>Historiales</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="vacationHistory.html">Vacaciones</a></li>
                        <li><a  href="paymentHistory.html">Pagos</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a  href="jobs.html" >
                        <i class="fa fa-book"></i>
                        <span>Puestos</span>
                    </a>
                </li>


            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-panel">
                    <form class="form-horizontal style-form" method="get">
                        <div class="form-group">

                            <label class="col-sm-2 col-sm-2 control-label">Fecha de inicio de las vacaciones</label>
                            <div class="col-md">
                            </div>
                            <div class="col-sm-8">
                                <input type="date" id="date" class="form-control">
                                <div id="errorDate" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Cantidad de días</label>
                            <div class="col-md">
                            </div>
                            <div class="col-sm-8">
                                <input type="number" id="numberDays" class="form-control">
                                <div id="errorNumber" class="text-danger"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="  form-group ">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <button type="button" id="submitForm" class="btn btn-theme">Solicitar</button>
                                </div>
                                <div class="col-md-1">
                                    <a type="button" href="personalInformation.html" class="btn btn-theme04">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->

</section>

<!-- js placed at the end of the document so the pages load faster -->
<script>window.$ = window.jQuery = require('jquery');</script>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="../assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../assets/js/jquery.scrollTo.min.js"></script>
<script src="../assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="../assets/js/common-scripts.js"></script>

<!--script for this page-->

<script>
    //custom select box

    $(function(){
        $('select.styled').customSelect();
    });

</script>

<script>
    $('#submitForm').on('click',function () {
        let date = new Date($('#date').val()); //date for checking restrictions
        let realDate = $('#date').val();
        let numberDays = $('#numberDays').val(); //number of days for the requested vacation
        let today = new Date(); //current date of the day
        let htmlError;
        if(numberDays < 1 || numberDays > 15){
            htmlError = '<br><br> El número minimo de días es 1 y el maximo es de 15<br><br>'
            $('#errorNumber').html(htmlError);
        }
        else if((date.getDay() < today.getDay() && date.getFullYear() < today.getFullYear()) || (date.getFullYear() > today.getFullYear() + 1) ){
            htmlError = '<br><br> La fecha tiene que ser por lo menos mañana y no mas de un año en adelante<br><br>'
            $('#errorDate').html(htmlError);
        }
        else{
            $.ajax({
                url: 'http://localhost:3000/requestVacation',
                method: 'post',
                data: {date: realDate, numberDays: numberDays},
                success: function (data) {
                    window.location.href = '../Views/personalInformation.html';
                }

            })
        }
    })
</script>
<script>
    $('#logout').on('click',function () {
        $.ajax({
            url: 'http://localhost:3000/logout',
            method: 'get',
            success: function (data) {
                window.location.href = '../Views/login.html';
            }
        })
    })
</script>
</body>
</html>